workflows/Automatically_document_n8n_workflows_directly_in_Notion_database.json
{
  "name": "_infra: Automatically document n8n workflows directly in Notion database",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1744510d-7ed7-46d8-acd3-f975ab73f298",
              "name": "active",
              "type": "boolean",
              "value": "={{ $json.active }}"
            },
            {
              "id": "7e76f5dc-0c32-4b26-a289-975155b80112",
              "name": "url",
              "type": "string",
              "value": "=https://<n8n_host_name>/workflow/{{ $json.id }}"
            },
            {
              "id": "a7b069bf-8090-4dca-a432-f4fd7aa84e6f",
              "name": "errorWorkflow",
              "type": "boolean",
              "value": "={{ !!$json.settings?.errorWorkflow }}"
            },
            {
              "id": "0bff7a9b-0860-4552-b0f6-5fc279fc75d6",
              "name": "workflow-name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "3065ee2f-d1bb-42b7-b341-7bb38b0f6720",
              "name": "updatedAt",
              "type": "string",
              "value": "={{ $json.updatedAt }}"
            },
            {
              "id": "ea9d39e4-50ca-4c79-b6ab-8b22cafd0257",
              "name": "createdAt",
              "type": "string",
              "value": "={{ $json.createdAt }}"
            },
            {
              "id": "265d66cd-1796-40eb-ae5b-dca8d1a91871",
              "name": "envId",
              "type": "string",
              "value": "=internal-{{ $json.id }}"
            },
            {
              "id": "6ffb9c13-82a7-4f40-b2e6-887c018b747c",
              "name": "workflow-definition",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            },
            {
              "id": "8b2a1098-125f-44b0-b8c0-99098e582156",
              "name": "workflow-export-filename",
              "value": "={{ $json.name.replace(/ /g, \"_\").replace(/-/g, \"_\") + \".json\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d702f13e-8e93-4142-87c7-49fbb6031e19",
      "name": "Set fields",
      "type": "n8n-nodes-base.set",
      "position": [
        800,
        480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/<your_db_id_here>/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"filter\": { \"and\": [\n    {\n        \"property\": \"envId\",\n        \"rich_text\": { \"contains\": \"{{ $json.envId }}\" }\n    }]\n}\n}",
        "options": {}
      },
      "id": "4527dc91-bad5-4214-b210-ea8f89504fbf",
      "name": "Get notion page with workflow id",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        960,
        480
      ],
      "typeVersion": 4.1,
      "credentials": {
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49092f3a-7f42-4067-b8ea-1073ef1d1bb8",
              "name": "input",
              "type": "object",
              "value": "={{ $('Set fields').item.json }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ced49644-b18f-4984-8dfd-199d88e3ded7",
      "name": "Map fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "<replace_me>",
          "mode": "list",
          "cachedResultName": "Workflow Sync",
          "cachedResultUrl": "https://www.notion.so/<replace_me>"
        },
        "title": "={{ $('Map fields').item.json.input['workflow-name'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|title",
              "title": "={{ $('Map fields').item.json.input['workflow-name'] }}"
            },
            {
              "key": "URL (dev)|url",
              "urlValue": "={{ $('Map fields').item.json.input.url }}"
            },
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.active }}"
            },
            {
              "key": "Workflow created at|date",
              "date": "={{ $('Map fields').item.json.input.createdAt }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Map fields').item.json.input.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.errorWorkflow }}"
            },
            {
              "key": "Record last update|date",
              "date": "={{ $now }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            },
            {
              "key": "envId|rich_text",
              "textContent": "={{ $('Map fields').item.json.input.envId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86edfe55-9a88-49ed-82de-df0c44a65d53",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        1960,
        460
      ],
      "typeVersion": 2.1,
      "credentials": {
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Map fields').item.json.results[0].id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.active }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Set fields').item.json.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.errorWorkflow }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d547270-37dd-41ee-98b7-13001c954ffa",
      "name": "Update in Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        1960,
        640
      ],
      "typeVersion": 2.1,
      "credentials": {
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "<yourchannelID>",
          "mode": "list",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=Pushed new workflow to Notion: {{ $('Map fields').item.json.input['workflow-name'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2160,
        460
      ],
      "id": "f612d12c-d3cf-4186-9ed1-c75ed53132cb",
      "name": "Notify internal-infra of push",
      "webhookId": "45139061-cdfe-4f2c-9767-9872d5453770",
      "credentials": {
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "<yourchannelID>",
          "mode": "list",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=Updated workflow in Notion: {{ $('Map fields').item.json.input['workflow-name'] }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2160,
        640
      ],
      "id": "aef5c65e-323b-463b-8e1e-f09cc064c44b",
      "name": "Notify internal-infra of update",
      "webhookId": "11b4a08c-1893-43ac-94ae-6950909a16d8",
      "credentials": {
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "<yourchannelID>",
          "mode": "list",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=WARNING: Error workflow has NOT been setup for: <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> (No backup will take place until err-workflow is configured)",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1060,
        1020
      ],
      "id": "f200a66c-b902-4b90-8499-93ae7d12a552",
      "name": "Notify on workflow setup error",
      "webhookId": "08adaa3e-2149-4189-b815-b36b9e72494e",
      "credentials": {
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Concisely tell me what this N8N plugin does in 1-2 lines, then describe how it does it in no more than a paragraph, but only if that detail was already covered by the first 1-2 lines - we don't want to repeat ourselves.\n<n8nplugin>\n{{ $json.input['workflow-definition'] }}\n</n8nplugin>"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1360,
        480
      ],
      "id": "f10268c7-706f-4651-9bee-99b13cdc1ed1",
      "name": "Summarize what the Workflow does",
      "credentials": {
      }
    },
    {
      "parameters": {
        "content": "## Extract key fields",
        "height": 300,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        380
      ],
      "id": "21fa612f-98c5-4fe6-a048-2e2891bc6893",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generate documentation in Notion\n",
        "height": 440,
        "width": 1080,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        380
      ],
      "id": "6b6f931b-298f-4ac6-a256-be051912e667",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "<yourownernamehere>",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "<yourreponamehere>",
          "mode": "list",
          "cachedResultName": "<yourreponamehere>",
          "cachedResultUrl": "<yourrepoURLhere>"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "=updated by N8N #{{ $execution.id }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1380,
        980
      ],
      "id": "7caa1e4a-9705-4abd-9b91-73abe7ef41d0",
      "name": "Upload changes to repo",
      "credentials": {
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "<yourownernamehere>",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "<yourreponamehere>",
          "mode": "list",
          "cachedResultName": "<yourreponamehere>",
          "cachedResultUrl": "<yourrepoURLhere>"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "created by N8N"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1720,
        980
      ],
      "id": "50993b0c-81fa-4042-9fb9-0d53d1266743",
      "name": "Create new file in repo",
      "credentials": {
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "<yourchannelID>",
          "mode": "list",
          "cachedResultName": "<yourchannelname>"
        },
        "text": "=WARNING: Failed to upload new N8N workflow <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> to repo",
        "otherOptions": {
          "includeLinkToWorkflow": true,
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2160,
        980
      ],
      "id": "e640de5f-2cc8-4fd9-817b-147a3fd67ed3",
      "name": "Notify on create file in repo fail",
      "webhookId": "08adaa3e-2149-4189-b815-b36b9e72494e",
      "credentials": {
      }
    },
    {
      "parameters": {
        "content": "## Check workflow setup OK ",
        "height": 360,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        840
      ],
      "id": "623c4dd7-ebce-4b15-ab2a-b9222eab66f3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Upload / backup workflow to GitHub repo",
        "height": 360,
        "width": 1080,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        840
      ],
      "id": "bc47d8ab-3265-4148-ba2c-23e0a77156b6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Check weekly for changes on active internal-infra workflows",
        "height": 300,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        380
      ],
      "id": "6cf569ad-38cd-4f8d-b65b-7c7fe36b1315",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "88337d36-8cf6-4cd5-bec1-5123cf612934",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Map fields').item.json.results }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b890dacf-2ac2-4802-b96a-5097119d35ee",
      "name": "Is this a new workflow (to Notion) ?",
      "type": "n8n-nodes-base.if",
      "position": [
        1720,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "2c3549c1-99c1-4255-a02d-2f454e6ced5e",
      "name": "Every Monday at 1am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        120,
        480
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f0685ee-2ffa-4cf8-8d65-32addb4bb703",
              "leftValue": "={{ $json.updatedAt }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate()-7)).toISOString() }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        480
      ],
      "id": "8d1fdf8c-3a80-4972-b721-ca9477be891b",
      "name": "Check if updated in last 7 days"
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true,
          "tags": "internal-infra"
        },
        "requestOptions": {}
      },
      "id": "3380272e-5631-44aa-b7da-5e23e0966978",
      "name": "Get active workflows with internal-infra tag",
      "type": "n8n-nodes-base.n8n",
      "position": [
        340,
        480
      ],
      "typeVersion": 1,
      "credentials": {
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c53617b5-a217-4111-a229-82d93fb0bec6",
              "leftValue": "={{ $json.input.errorWorkflow }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3ea0c94e-e192-4e94-867f-788feda52d61",
              "leftValue": "={{ $json.input['workflow-name'] }}",
              "rightValue": "_infra: Get a Slack alert when a workflow went wrong",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        900
      ],
      "id": "0049cf1e-91e9-4ee0-abd7-5e0bfab18b7f",
      "name": "Check that error workflow has been configured"
    }
  ],
  "pinData": {},
  "connections": {
    "Map fields": {
      "main": [
        [
          {
            "node": "Check that error workflow has been configured",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize what the Workflow does",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields": {
      "main": [
        [
          {
            "node": "Get notion page with workflow id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get notion page with workflow id": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Notify internal-infra of push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update in Notion": {
      "main": [
        [
          {
            "node": "Notify internal-infra of update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify on workflow setup error": {
      "main": [
        []
      ]
    },
    "Summarize what the Workflow does": {
      "main": [
        [
          {
            "node": "Is this a new workflow (to Notion) ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload changes to repo": {
      "main": [
        [],
        [
          {
            "node": "Create new file in repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file in repo": {
      "main": [
        [],
        [
          {
            "node": "Notify on create file in repo fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this a new workflow (to Notion) ?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Monday at 1am": {
      "main": [
        [
          {
            "node": "Get active workflows with internal-infra tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if updated in last 7 days": {
      "main": [
        [
          {
            "node": "Set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get active workflows with internal-infra tag": {
      "main": [
        [
          {
            "node": "Check if updated in last 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check that error workflow has been configured": {
      "main": [
        [
          {
            "node": "Upload changes to repo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify on workflow setup error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "errorWorkflow": "dnboDNiqvl2P7sCZ"
  },
  "versionId": "a5aaebfd-20cc-4042-9a76-1790f8501188",
  "meta": {
    "templateId": "2151",
    "templateCredsSetupCompleted": true,
    "instanceId": "b70db38ce0f0d2b80e12348ac7eb47bc8c0a4592685b356a48495248d533047c"
  },
  "id": "oDMm9XRg5bfp9TTu",
  "tags": [
    {
      "createdAt": "2025-02-13T14:32:55.887Z",
      "updatedAt": "2025-02-13T14:32:55.887Z",
      "id": "R5f4JtfSlaX6a5AQ",
      "name": "internal-infra"
    }
  ]
}